.comofunciona
    .comofunciona__title
        h2.title ¿como funciona?
        h2.subtitle Bolsas gratis para panaderos, tenderos y droguistas

    .comofunciona__info.scrollflow.-pop.-opacity
        .comofunciona__info__image
            figure
                img(src="./images/comofunciona.svg", alt="image")

        .comofunciona__info__description
            p  Nuestra red de franquicias trabaja como agentes comerciales que ofrecen a cualquier negocio o entidad la posibilidad de contratar un espacio publicitario en en una bolsa de papel para servir el pan y otros productos secos. Esta bolsa es impresa y reptartida de forma gratuita en las panaderías, tiendas y/o droguerías de las zonas que se ha contratado. Los locales beneficiados reciben estas bolsas y las usan para empacar los productos que lleva el consumidor.

            p Garantizamos una publicidad efectiva.


        .hr
            hr

