.historia
    .historia__title
        h2.title historia publipan
        h2.subtitle Desde España a más de 20 paises ...

    .historia__description.scrollflow.-pop.-opacity
        .historia__description__items
            p Publipan® nace en La Rioja (España) como formato publicitario local. El gran interés despertado y el éxito del formato propician la expansión del negocio y su establecimiento como franquicia en España en el año 2007.
        .historia__description__items
            p En 2008, Publipan® saltó las fronteras se establece su primer master internacional en el vecino país de Portugal. El interés despertado por el formato en otros países europeos no se hizo esperar y en el año 2009 se abrió también una delegación de la marca española en Rumania.
        .historia__description__items
            p El año 2009 también puede denominarse como el año de apertura de Publipan®en el continente americano. El primer país que se unió a la familia Publipan® fue el centroamericano Costa Rica, al que se unió a comienzos de 2010 Ecuador. Tampoco se hicieron esperar Brasil y Moldavia para completar la red de franquicias de Publipan® en todo el mundo.
        .historia__description__items
            p Actualmente Publipan® cuenta con más de un centenar de franquiciados en su país de origen (España) y dispone de sedes en 20 países del mundo, sumando medio millar de franquiciados en todo el planeta
