.noshacemoscargo
    .noshacemoscargo__title
        h2.subtitle Nosotros nos hacemos cargo de todo

    .noshacemoscargo__content
        .noshacemoscargo__content__items.scrollflow.-pop.-opacity
            h2 diseño
            figure
                img(src="./images/diseño.svg", alt="image")
            figcaption En Publipan Colombia, el área de diseño se encarga de crear, maquetar y revisar las bolsas para nuestros anunciantes.
        .noshacemoscargo__content__items.scrollflow.-pop.-opacity
            h2 producción
            figure
                img(src="./images/produccion.svg", alt="image")
            figcaption En Colombia contamos con la maquinaria acorde con las necesidades para imprimir bolsas biodegradables, utilizamos tintas al agua y pegantes de almidón de yuca.
        .noshacemoscargo__content__items.scrollflow.-pop.-opacity
            h2 distribución
            figure
                img(src="./images/distribucion.svg", alt="image")
            figcaption a gran red de distribución Publipan Colombia nos permite llegar a cualquier punto para entregar su publicidad. Cada panadería, tienda o farmacia (según lo determine el cliente) recibe sus bolsas de forma gratuita y las entrega en mano a sus clientes.

        .noshacemoscargo__content__items.scrollflow.-pop.-opacity
            h2 valores agregados
            figure
                img(src="./images/valoresagregados.svg", alt="image")
            figcaption Investigación de mercados, Sampling, Perifoneo, Colocación Material P.O.P., Chequeo de Distribucón.


    .hr
        hr









