.patente
    .patente__title
        h2.title patente publipan
        h2.subtitle Producto patentado

    .patente__info.scrollflow.-pop.-opacity
        //- .patente__info__image
        //-     figure
        //-         img(src="http://lorempixel.com/400/400", alt="alt")

        .patente__info__description
            p La patente de Publipan es una patente modo de uso con número MU200501657 la cual protege de posibles plagios el uso de una bolsa de pan de papel para utilizarla como soporte publicitario en otras empresas que no sea la misma panadería. Para mas información, puede llamar al 902 15 75 30 teléfono de la Oficina Española de Patentes y Marcas.
