.publipan__qe
    .publipan__qe__title
        h2.title ¿ qué es publipan?
        h2.subtitle Un medio de publicidad ecológico

    .publipan__qe__description.scrollflow.-pop.-opacity
        p Consiste en bolsas de papel impresas con publicidad que se distribuyen gratuitamente a panaderos, tenderos y droguistas de las zonas objetivo de nuestro cliente. Publipan es la publicidad más directa, menos agresiva y más eficaz del mercado. Además de un soporte ecológico y comprometido con el medio ambiente. 

    .publipan__qe__container
        .publipan__qe__container__subtitle
            h2.subtitle Es una bolsa de papel donde se sirve el pan

        .publipan__qe__container__info.scrollflow.-pop.-opacity
            .publipan__qe__container__info__image
                figure
                    img(src="./images/quees.svg", alt="image")

            .publipan__qe__container__info__description
                p Consiste simplemente en aprovechar la bolsa de papel en la que habitualmente las panaderías y tiendas entregan un producto tan básico como el pan y otros productos, como nuevo medio para que los anunciantes plasmen su publicidad, con la garantía de que esta entra de la mano del consumidor final a los hogares.
