.ventajas
    .ventajas__title
        h2.subtitle Todos son ventaja
    
    .ventajas__content
        .ventajas__content__items.scrollflow.-pop.-opacity
            figure
                img(src="./images/ventajas-1.svg", alt="image")
            figcaption Los anunciantes consiguen una publicidad efectiva.
        .ventajas__content__items.scrollflow.-pop.-opacity
            figure
                img(src="./images/ventajas-2.svg", alt="image")
            figcaption Los panaderos y tenderos obtienen un empaque gratuíto.
        .ventajas__content__items.scrollflow.-pop.-opacity
            figure
                img(src="./images/ventajas-3.svg", alt="image")
            figcaption Evitamos fabricar millones de bolsas de plástico.
    