.video
    .video__title
        h2.title galería de videos


    .video__content
        .video__content__item
            iframe(width="560" height="315" src="https://www.youtube.com/embed/XLDKX67uRBs?list=PLeBPyuY1HlYEpnmXIP1fOJhmLIFVvD1uO" frameborder="0" allowfullscreen="allowfullscreen")

        .video__content__item
            iframe(width="560" height="315" src="https://www.youtube.com/embed/vO_l9Os8Ay8" frameborder="0" allowfullscreen="allowfullscreen")

        .video__content__item
            iframe(width="560" height="315" src="https://www.youtube.com/embed/0kAxqRPGydc" frameborder="0" allowfullscreen="allowfullscreen")

        .video__content__item
            iframe(width="560" height="315" src="https://www.youtube.com/embed/atfkUPxZX_c" frameborder="0" allowfullscreen="allowfullscreen")

        .video__content__item
            iframe( width="560" height="315" src="https://www.youtube.com/embed/zEAC8gqf1_M" frameborder="0" allowfullscreen="allowfullscreen")
