.interfaz__app 
    .interfaz__app__title
        h2  Lorem ipsum dolor sit amet.
    
    .interfaz__app__container
        .app__item
            figure
                img(src="./images/100.jpg", alt="image")
            figcaption color
        .app__item
            figure
                img(src="./images/100.jpg", alt="image")
            figcaption tipografia
        .app__item
            figure
                img(src="./images/100.jpg", alt="image")
            figcaption ui/ux

    .interfaz__app__phone
        .phone
            figure
                img(src="./images/200-300.jpg", alt="image")