.creatividad
    .creatividad__title
        h2 creatividad y estrategia
    .creatividad__description
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum magni reprehenderit necessitatibus minima laborum inventore odio neque nemo, dolorem ratione?