.diseno__title 
    h2 diseño grafico
.acordeon
    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 campañas
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")


    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 portafolios
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")

    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 publipan
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")


//- Contenedor para los tabs
.tabs__links
    a(href="#seccion-1") Campañas
    a(href="#seccion-2") Portafolios
    a(href="#seccion-3") Publipan
        
//- Contenedor para los contenidos
.tabs__contents

    .tabs__contents__item(id="seccion-1")
        p title 1
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")

    .tabs__contents__item(id="seccion-2")
        p title 2
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")


    .tabs__contents__item(id="seccion-3")
        p title 3
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
        .item
            figure
                img(src="./images/200-200.jpg", alt="image")
