.diseno__title 
    h2 diseño grafico
.acordeon
    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 campañas
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")


    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 portafolios
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")

    .acordeon__contenedor
        .acordeon__contenedor__title
            h2 publipan
        .acordeon__contenedor__item
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")
            .items
                figure
                    img(src="./images/200-200.jpg", alt="image")


//- Contenedor para los tabs
.tabs__links
    a Campañas
    a Portafolios
    a Publipan
        
//- Contenedor para los contenidos
.tabs__contents

    .tabs__contents__item.popup-gallery
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")

        a(href="./images/200x200.jpg").item
            figure
                img(src="./images/200x200.jpg", alt="image")
        a(href="./images/200x200.jpg").item
            figure
                img(src="./images/200x200.jpg", alt="image")
        a(href="./images/200x200.jpg").item
            figure
                img(src="./images/200x200.jpg", alt="image")
        a(href="./images/200x200.jpg").item
            figure
                img(src="./images/200x200.jpg", alt="image")


    .tabs__contents__item.popup-gallery
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200x200.jpg", alt="image")

        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")

    .tabs__contents__item.popup-gallery
        a(href="./images/200-200.jpg").item
            figure
                img(src="./images/200-200.jpg", alt="image")
        a(href="./images/200-200.jpg").item
            figure
                img(src="./images/200-200.jpg", alt="image")
        a(href="./images/200-200.jpg").item
            figure
                img(src="./images/200-200.jpg", alt="image")
        a(href="./images/200-200.jpg").item
            figure
                img(src="./images/200-200.jpg", alt="image")

        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")

        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")
        a(href="./images/200p200.jpg").item
            figure
                img(src="./images/200p200.jpg", alt="image")