.interfaz
    .interfaz__title
        h2  Diseño de Interfaces 

    .interfaz__description
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe obcaecati illum temporibus, esse, sapiente aut id laudantium in sit expedita!


    .interfaz__contenedor
        .interfaz__items
            figure
                img(src="./images/100.jpg", alt="image")
            figcaption rwd
        
        .interfaz__items
            figure
                img(src="./images/100.jpg", alt="image")
            figcaption rwd

        .interfaz__items
            figure 
                img(src="./images/100.jpg", alt="image")
            figcaption rwd


    .interfaz__contenedor__image
        .interfaz__contenedor__image__web
            figure
                img(src="./images/400-300.jpg", alt="image")
    

        .interfaz__contenedor__image__movil
            figure
                img(src="./images/400-300.jpg", alt="image")


