
.menu__movil
    a(href="index.html").menu__movil__main
        img(src="./images/logoWhite.png", alt="logo")
    i.fa.fa-bars.fa-2x#iconMenu.iconMenu

ul.menu#menu.menu__index
    li.menu__item
        a.menu__item__link(href="index.html") inicio
    li.menu__item
        a.menu__item__link(href="trabajos.html") trabajos
    li.menu__item
        a.menu__item__link(href="publipan.html") publipan    
    li.menu__item.contacto
        a.menu__item__link(href="javascript:desplegar('block');") contacto


