.footer
    .footer__info__contenedor 
        .footer__info__contenedor__items
            .items
                i.fa.fa-map-marker
                p Cll 11 #7-39 Edif fenalco ofi - 304
            .items
                i.fa.fa-mobile
                p 315 586 2421
            .items
                i.fa.fa-whatsapp
                p +57 315 586 2421
            .items
                i.fa.fa-envelope
                p contacto@meps.com.co  

        //- .footer__button
        //-     button ver mapa

        .footer__socialmedia
            .footer__socialmedia__items
                i.fa.fa-facebook
            .footer__socialmedia__items
                i.fa.fa-twitter
                
            .footer__socialmedia__items
                i.fa.fa-instagram
                
            .footer__socialmedia__items
                i.fa.fa-youtube-play

.footer__derechos
    p copyright &copy; 2016


//- .footer__web
//-     .footer__web__contenedor

//-         .footer__web__contenedor__image
//-             figure
//-                 img(src="./images/bg-footer.svg", alt="image")#imageFooter
        
        
//-         .footer__web__contenedor__info
//-              .footer__web__socialmedia
//-                 .footer__web__socialmedia__items
//-                     i.fa.fa-facebook
//-                 .footer__web__socialmedia__items
//-                     i.fa.fa-twitter
                    
//-                 .footer__web__socialmedia__items
//-                     i.fa.fa-instagram
                    
//-                 .footer__web__socialmedia__items
//-                     i.fa.fa-youtube-play


//-              .footer__web__contenedor__info__location
//-                 .items__web
//-                     i.fa.fa-map-marker
//-                     p Cll 11 #7-39 Edif fenalco ofi - 304
//-                 .items__web
//-                     i.fa.fa-envelope
//-                     p contacto@meps.com.co  
//-                 .items__web
//-                     i.fa.fa-whatsapp
//-                     p +57 315 586 2421            
//-                 .items__web
//-                     i.fa.fa-mobile
//-                     p 315 586 2421            




