.footer
    .footer__info__contenedor 
        .footer__info__contenedor__items
            .items
                i.fa.fa-map-marker
                p Cll 11 #7-39 Edif fenalco ofi - 304
            .items
                i.fa.fa-mobile
                p 315 586 2421
            .items
                i.fa.fa-whatsapp
                p +57 315 586 2421
            .items
                i.fa.fa-envelope
                p contacto@meps.com.co  

        //- .footer__button
        //-     button ver mapa

        .footer__socialmedia
            a(target="_blank" href="https://www.facebook.com/meps.sas/").footer__socialmedia__items
                i.fa.fa-facebook
            a(target="_blank" href="https://twitter.com/mepssas").footer__socialmedia__items
                i.fa.fa-twitter
                
            a(target="_blank" href="https://www.instagram.com/meps_sas/").footer__socialmedia__items
                i.fa.fa-instagram
                
            a(target="_blank" href="https://www.youtube.com/channel/UCseya4SB-pdEEiEE_beD6oQ").footer__socialmedia__items
                i.fa.fa-youtube-play

.footer__derechos
    p copyright &copy; 2016
