.clientes
    .clientes__title
        h2 ellos confian en nosotros

    .clientes__items.scrollflow.-pop.-opacity
        .clientes__items__logo
            figure
                img(src="./images/reindustrias.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/camara-de-comercio.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/uros.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/coonfie.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/comfamiliar.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/fenalco.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/epn.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/cootranshuila.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/caesca.png", alt="logo")
        .clientes__items__logo
            figure
                img(src="./images/oftalmolaser.svg", alt="logo")
