
.nosotros__contenedor
    .nosotros__contenedor__title
        h2 sobre nosotros

    .nosotros__contenedor__dev.scrollflow.-pop.-opacity
        .nosotros__contenedor__dev__description

            p Somos una empresa dinámica y versátil de origen Huilense, con el objetivo de ofrecer e implementar distintas alternativas tecnológicas e innovadoras para hacer Mercadeo y Publicidad.
        .nosotros__contenedor__dev__image
            figure
                img(src="./images/nosotros.svg", alt="imageNosotros")
