.movil
    .movil__title
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .movil__contenedor
        .movil__contenedor__item
            .movil__contenedor__item__image
                figure
                    img(src="http://lorempixel.com/500/300")
            .movil__contenedor__item__description

                .movil__contenedor__item__description__title
                    h2 Lorem ipsum dolor sit amet

                .movil__contenedor__item__description__parrafo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

                a(href="#").movil__contenedor__item__description__button
                    button  ver applicación movil
