.web
    .web__title
        h2 diseño y desarrollo web
    .web__contenedor




        .web__contenedor__item
            .web__contenedor__item__image
                img(src="./images/prensapc.svg" alt="image")
            .web__contenedor__item__description
                .web__contenedor__item__description__title
                    h2 La prensa 7 dias
                .web__contenedor__item__description__parrafo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                a(href="#" target="_blank").web__contenedor__item__description__button
                    button  ver sitio web 


        .web__contenedor__item
            .web__contenedor__item__image
                img(src="./images/mepscloudPC.svg" alt="image")

            .web__contenedor__item__description

                .web__contenedor__item__description__title
                    h2 Mep's cloud 
                .web__contenedor__item__description__parrafo
                    p Es una plataforma de mensajería de marketing, donde se pueden realizar campañas de envío de mensajes de texto o correos electrónicos a sus clientes en segundos.
                a(href="https://mepscloud.com" target="_blank").web__contenedor__item__description__button
                    button  ver sitio web 


        .web__contenedor__item
            .web__contenedor__item__image
                img(src="./images/coonfiePC.svg" alt="image")

            .web__contenedor__item__description

                .web__contenedor__item__description__title
                    h2 Coonfie 
                .web__contenedor__item__description__parrafo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                a(href="http://coonfie.com" target="_blank").web__contenedor__item__description__button
                    button  ver sitio web 