.equipodetrabajo
    .equipodetrabajo__title
        h2 Equipo de trabajo 

    .equipodetrabajo__description
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
