.perfiles__title
    h2 Perfiles de trabajo
.perfiles

    .perfiles__items
        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Juan lizcano
            a().perfiles__items__description__socialmedia.twitter
                i.fa.fa-twitter
                p @perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.



    .perfiles__items

        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Cristian Manjaro
            a().perfiles__items__description__socialmedia.facebook
                i.fa.fa-facebook
                p perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.




    .perfiles__items
        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Cristina Ferreira
            a().perfiles__items__description__socialmedia.twitter
                i.fa.fa-twitter
                p @perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.




    .perfiles__items
        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Niche Segura
            a().perfiles__items__description__socialmedia.facebook
                i.fa.fa-facebook
                p perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.





    .perfiles__items
        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Catalina rivera
            a().perfiles__items__description__socialmedia.twitter
                i.fa.fa-twitter
                p @perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.





    .perfiles__items
        .perfiles__items__avatar
            figure
                img(src="https://pbs.twimg.com/profile_images/723686378366767104/zTjnKols_400x400.jpg")

        .perfiles__items__description
            .perfiles__items__description__title
                h2 Luisa Mesclao
            a().perfiles__items__description__socialmedia.facebook
                i.fa.fa-facebook
                p perfilfalso
            .perfiles__items__description__rol
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
