#bgventana
    #ventana
        a(href="javascript:desplegar('none');") Cerrar
        form
            label nombre
            input(type="text" name="name" autofocus="autofocus" required)
            label correo electrónico
            input(type="email" name="mail" required)
            label teléfono
            input(type="tel" maxlength="10")
            label mensaje
            textarea#mensaje(name="", cols="30", rows="10" required)

            .politica__datos
                input(type="checkbox" required)
                p Aceptas las condiciones y confirmas nuestra <a href="./pdf/politicas-de-tratamiento-de-la-informacion.pdf"  download="PoliticaDatos">Política de datos. </a>
            .button
                button enviar


#bgvideo
    #bgvideopublipan
        a(href="javascript:videopub('none');") x
        .items__video
            iframe(width="560" height="315" src="https://www.youtube.com/embed/iBW-1FDOtaI" frameborder="0" allowfullscreen)


.contenedor__header__publipan
    .contenedor__header__publipan__video
        a(href="javascript:videopub('block');").header__button#button
            img(src="./images/button.svg", alt="image")
            
    .contenedor__header__publipan__float
        .contenedor__header__publipan__float__triangle




