#bgventana
    #ventana
        a(href="javascript:desplegar('none');") Cerrar
        form
            label nombre
            input(type="text" name="name" autofocus="autofocus" required)
            label correo electrónico
            input(type="email" name="mail" required)
            label teléfono
            input(type="tel" maxlength="10")
            label mensaje
            textarea#mensaje(name="", cols="30", rows="10" required)

            .politica__datos
                input(type="checkbox" required)
                p Aceptas las condiciones y confirmas nuestra <a href="./pdf/politicas-de-tratamiento-de-la-informacion.pdf"  download="PoliticaDatos">Política de datos. </a>
            .button
                button enviar





.contenedor__header
    .contenedor__header__img
        figure
            img(src="./images/ciudad-header.svg", alt="img")
        .header__title.scrollflow.-slide-top.-opacity
            h2 impulsando ideas
            p  Brindamos seguimiento a sus clientes
    .contenedor__header__float
        .contenedor__header__float__triangle
