.circle__contenedor__publipan
    a.scroll.circle__publipan(href="#id-quees")
    a.scroll.circle__publipan(href="#id-comofunciona")
    a.scroll.circle__publipan(href="#id-noshacemoscargo")
    a.scroll.circle__publipan(href="#id-ventajas")
    a.scroll.circle__publipan(href="#id-historia")

    a.scroll.circle__publipan(href="#id-patente")
    a.scroll.circle__publipan(href="#id-bolsasgratis")
    a.scroll.circle__publipan(href="#id-videos")   