.circle__contenedor
    a.circle.scroll(href="#id-1")
    a.scroll.circle(href="#id-2")
    a.scroll.circle(href="#id-3")
    a.circle.scroll(href="#id-4")
    a.scroll.circle(href="#id-5")

    a.scroll.circle(href="#id-6")
    a.circle.scroll(href="#id-7")
    a.scroll.circle(href="#id-8")   
    a.circle.scroll(href="#id-9")