.servicios__contenedor
    .mepscloud
        .title__mepscloud
            h2 mep's cloud
        .servicio__container.scrollflow.-pop.-opacity
            .image__mepscloud
                figure
                    img(src="./images/mepscloud.svg", alt="image")

            .servicio__container__description
                .mepscloud__logo
                    figure
                        img(src="./images/logoMC.png", alt="logo mepscloud")
                .description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.


                    .button__mc
                        a(href="https://mepscloud.com" target="_blank")
                            button ver más

    //- desarrollo de software
    .desarrollo#id-4
        .title__desarrollo
            h2 desarrollo de software

        .servicio__container.scrollflow.-pop.-opacity
            .image__desarrollo
                figure
                    img(src="./images/dev.svg", alt="desarrollo software")

            .servicio__container__description
                .description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.

                    .button
                        a(href="trabajos.html")
                            button ver más

    //- creatividad y estrategia
    .creatividad#id-5
        .title__creatividad
            h2 creatividad y estrategia

        .servicio__container.scrollflow.-pop.-opacity
            .image__creatividad
                figure
                    img(src="./images/creatividad.svg", alt="image")

            .servicio__container__description
                .description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.

                    .button
                        a(href="creatividad.html")
                            button ver más

    //- articulos promocionales
    .mppromocionales#id-6
        .title__mppromocionales
            h2 articulos promocionales


        .servicio__container.scrollflow.-pop.-opacity
            .image__mppromocionales
                figure
                    img(src="./images/articulospromocionales.svg", alt="image")


            .servicio__container__description
                .description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.

                    .button
                        a(href="http://www.mppromocionales.com/index.php?microsite=meps" target="_blank")
                            button ver más

    //- marketing digital

    //- publipan huila
    .publipan#id-7
        .title__publipan
            h2 publipan huila

        .servicio__container.scrollflow.-pop.-opacity
            .image__publipan
                figure
                    img(src="./images/publipan.svg", alt="image")

            .servicio__container__description
                .description
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.
                    .button
                        a(href="publipan.html")
                            button ver más



    //- .marketing
    //-     .title__marketing
    //-         h2 marketing digital


    //-     .servicio__container
    //-         .image__marketing
    //-             figure
    //-                 img(src="./images/marketing.svg", alt="image")

    //-         .servicio__container__description
    //-             .description
    //-                 p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dignissimos culpa dicta id itaque. Pariatur, inventore tempora porro doloribus, beatae, dolore obcaecati sentium.

    //-                 .button
    //-                     a(href="#")
    //-                         button ver más
