

.triangle__contenedor
    .triangle__contenedor__float
        .triangle__contenedor__float__triangle

    .triangle__content
        .triangle__title
            h2  Lorem ipsum dolor sit amet
        .triangle__contenedor__dev
            //- .triangle__image
            //-     figure
            //-         img(src="./images/contacto.svg", alt="image")
            .triangle__contact
                a(href="javascript:desplegar('block');" )
                  button contáctenos
            
        